<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img [src]="getImageUrl(forecastDatum.weather.icon)" alt="Weather image" />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ forecastDatum.valid_date }}</p>
        <p class="subtitle is-6">{{ forecastDatum.city_name }}</p>
      </div>
    </div>
    <div class="temp">{{ forecastDatum.temp }}<sup>。</sup></div>

    <div class="columns">
      <div class="column">
        <span class="up mr-1">↑</span><span class="up">{{ forecastDatum.max_temp }}</span>
      </div>
      <div class="column">
        <span class="down mr-1">↓</span><span class="down">{{ forecastDatum.min_temp }}</span>
      </div>
    </div>
  </div>
</div>
