<div class="buttons is-centered mb-5">
  <button class="button is-rounded is-info is-light" (click)="changeCity('Tokyo')">Tokyo</button>
  <button class="button is-rounded is-info is-light" (click)="changeCity('Los Angeles')">
    Los Angeles
  </button>
  <button class="button is-rounded is-info is-light" (click)="changeCity('New York')">
    New York
  </button>
  <button class="button is-rounded is-info is-light" (click)="changeCity('Sydney')">Sydney</button>
</div>

@if (forecastData.isLoading()) {
  <div class="lodingContainer">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="columns">
    @for (data of forecastData.value(); track data.city_name) {
      <div class="column mb-3">
        <app-forecast-item [forecastDatum]="data"></app-forecast-item>
      </div>
    }
  </div>
}
