<nav class="navbar is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-4" [routerLink]="['/']">
        <span class="has-text-info">NG</span> Weather
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left"></div>
        </div>
        <a class="navbar-item" [routerLink]="['/days']" routerLinkActive="is-active">
          8 Days Forecast
        </a>
        <a class="navbar-item" [routerLink]="['/locations']" routerLinkActive="is-active">
          Location Forecast
        </a>
      </div>
    </div>
  </div>
</nav>
